
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      html {
        font-size: 62.5%;
        overflow-x: hidden;
        /* overflow-y: hidden; */
      }

      /* // <uniquifier>: Use a unique and descriptive class name
      // <weight>: Use a value from 100 to 900 */

      h1,h2,h3 {
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
      }

      p {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        /* font-weight: 700; */
        font-style: normal;
        font-variation-settings: "wdth" 100;
        font-size: 1.6rem;
        line-height: 1.7;
      }

      .header {
        background-color: hsl(217, 28%, 15%);
        display: flex;
        justify-content: space-between;
        padding: 3rem 4.2em;
      }

      

      .nav-list{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 4.8rem;
      }

      /* li {
        font-size: 12rem;
      } */

      .nav-link:link,
      .nav-link:visited {
        text-decoration: none;
        list-style: none;
        font-size: 2rem;
        color: hsl(0, 0%, 100%);
        transition: all 0.3s;
      }

      .nav-link:hover,
      .nav-link:active{
        color:  hsl(176, 68%, 64%);
      }

      .hero-section {
        display: flex;
        flex-direction: column;
        /* margin: 0 auto; */
        padding: 0 3.2rem;
        align-items: center;
        justify-content: center;
        background-color: hsl(217, 28%, 15%);
      }

      .hero {
        width: 40%;
      }

      .illustration-image {
        width: 100%;
        /* background-color: blue; */
      }

      .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.6rem;
        /* padding: 0 1.5rem; */
        /* background-color: brown; */
        color: rgb(238, 238, 242);
      }

      .hero-text h1 {
        /* background-color: rgb(106, 42, 165); */
        font-size: 3rem;
        /* font-weight: 700; */
        text-align: center;
        padding-bottom: 1.5rem;
      }

      .hero-description {
        display: flex;
        /* align-items: center; */
        /* font-size: 1rem; */
        font-size: 1.6rem;
        text-align: center;
        width: 50%;
        /* background-color: blue; */
      }

      .btn {
        border-radius: 2rem;
        background-color: hsl(176, 68%, 64%);
        padding: 1rem 5rem;
        text-decoration: none;
        font-size: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 5rem;
        color: hsl(0, 0%, 100%);
      }

      .btn:link,
      .btn:visited {
        /* background-color:  hsl(54, 52%, 50%); */
        background-color: hsl(176, 68%, 64%);
        transition: all 0.5s;
      }

      .btn:hover{
        background-color:  hsl(176, 51%, 42%);
      }

      .features-section {
        background-color: hsl(217, 28%, 15%);
      }

      .features {
        display: grid;
        row-gap: 5rem;
        column-gap: 1.8rem;
        grid-template-columns: 1fr 1fr;
        /* background-color: red; */
        width: 70%;
        margin: 0 auto;
        padding-bottom: 10rem;
      }

     

      .actual-features {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        /* background-color: rgb(0, 255, 208); */
      }

      .icon {
      }

      .features-header {
        font-size: 2.2rem;
        text-align: center;
        color: white;
        font-weight: 700;
        margin-bottom: 1.2rem;
      }

      .actual-features p {
        text-align: center;
        color: white;
        font-size: 1.6rem;
      }

      .stay-productive-section {
        background-color: hsl(217, 28%, 15%);
        padding-bottom: 12rem;
      }

      .stay-productive-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* padding: 0 3.2rem; */
        column-gap: 3rem;
        /* align-items: center; */
        /* justify-content: center; */
        /* width: 100%; */
        margin: 0 auto;
        width: 80%;
        /* background-color: blue; */
      }

      .productive-image {
        /* background-color: red; */
        width: 100%;
      }

      .stay-productive-heading {
        color: white;
        font-size: 3rem;
        font-weight: 700;
        padding-bottom: 2rem;
        /* text-align: center; */
      }

      .stay-productive-text {
        display: flex;
        flex-direction: column;
        /* background-color: pink; */
        justify-content: center;
      }

      .stay-productive-text p {
        color: white;
        font-size: 1.6rem;
        
      }

      .testimonials-section {
        padding: 0 10rem;
        background-color: hsl(217, 28%, 15%);
      }
      
      .testimonial-container {
        position: relative;

        /* background: red; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        row-gap: 9.6rem;
        column-gap: 6.4rem;

        padding-bottom: 22rem;
      }
      
      .quotes {
        top: -25px;
        left: -10px;
        /* transform: translate(-50%, -50%); */
        position: absolute;
      }

      .quotes-img {
    width: 4rem;
  }

      .testimonial-container {
        position: relative;

        /* background: red; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        row-gap: 9.6rem;
        column-gap: 6.4rem;

        padding-bottom: 22rem;
      }

      .card {
        z-index: 1;
        padding: 3rem;
        /* background-color: hsl(218, 34%, 19%); */
        background-color: hsl(219, 30%, 18%);
        /* width: 60%; */
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: 0 1.2rem 2.2rem rgb(10, 10, 47);
        /* justify-self: end; */
      }

      .card p {
        color: aliceblue;
        /
        /* font-size: 1.6rem; */
        /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08); */
      }

      .customer-pic {
        width: 4rem;
        border-radius: 50%;
      }

      .testimonial-profile {
        /* background-color: red; */
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 2rem;
        /* width: 100%; */
        /* display: inline-block; */
      }

      .customer-name {
        font-weight: 700;
      }
      .customer-position {
        font-weight: 100;
        font-size: 1.2rem;
      }

      .e-mail-section {
        position: relative;
        /* background-color: hsl(216, 24%, 88%); */
        background-color: hsl(217, 28%, 15%);
        /* padding: 0 5rem; */
        padding-bottom: 10rem;
      }

      .sign-up {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding: 3rem 7rem;
        background-color: hsl(219, 30%, 18%);
        width: 60%;
        margin: 0 auto;
        text-align: center;
        border-radius: 5px;
      }

      .sign-up h2 {
        text-align: center;
        color: white;
        font-weight: 700;
        font-size: 3rem;
        margin-bottom: 1.2rem;
      }

      .sign-up p {
        color: white;
        font-size: 1.6rem;
      }

      .e-mail-cta {
        padding-top: 4rem;
        display: grid;

        align-items: center;
        grid-template-columns: 75fr 25fr;
        /* background-color: red; */
        column-gap: 2rem;
      }

      .e-mail-cta input {
        width: 100%;
        padding: 1.3rem;
        border-radius: 50px;
      }
      
      .btn-2:link,
      .btn-2:visited {
        display: inline-block;
       border-radius: 50px;
        background-color: hsl(176, 68%, 64%);
        padding: 1rem;
        text-decoration: none;
        font-size: 1.5rem;
        color: hsl(0, 0%, 100%);
        width: 100%;
        transition: all 0.5s;
      }

      .btn-2:hover
      {
        background-color:  hsl(176, 51%, 42%);
      }
      


      .footer {
        /* background-color: hsl(215, 82%, 44%); */
        background-color: hsl(216, 53%, 9%);
        padding: 11rem 7rem;
        /* padding-bottom: 14rem; */
      }

      .footer-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap:8rem;
        /* background-color: brown; */
      }

      .footer-container p {
        color: white;
        font-size: 1.6rem;
        line-height: 4rem;
      }

      .footer-container {
        padding-top: 2rem;
      }

    

      .social-icon{
        font-size:3.4rem;
       
        color: rgb(248, 242, 242);
        /* border: 2px solid rgb(240, 235, 235); */
       
      }
    

      /* .attribution {
              font-size: 11px;
              text-align: center;
            }
            .attribution a {
              color: hsl(228, 45%, 44%);
            } */
  